/* hover for buttons, click effect*/
html, body {
    height: 100%;
    margin: 0;
    background-color: #d4dde1;
}
.body {
}
.container {
    width: 400px;
}
.calculator {
  /*  display: flex;*/
    flex-direction: column;
    align-items: center;
    background-color: #2d3033;
    padding: 20px;
}
#display {
   /*flex: 1;*/
    background-color: #d4dde1;
    min-height: 30px;
    text-align: center; /*-------------------*/
}
.top{
    display: flex;
}
.numbersOne {
    display: flex;
}
.numbersTwo {
    display: flex;
}
.numbersThree {
    display: flex;
}
.bottom {
    display: flex;
    margin-bottom: 8px;
}
.number {
    background-color: #d4dde1;
    flex: 1;
}
.sideButtons,
#equals {
    background-color: #335252;
    color: #aa4b41;
}
.sideButtons {
    flex: 1;
}
#equals { /* change flex basis*/
    flex: 2;
}
#clear,
#backspace {
    background-color: #aa4b41;
}
#backspace {
    flex: 1;
}
#clear {
    flex: 2;
}
.link {

}