html, body {
    height: 100%;
    margin: 0;
    background-color: #d4dde1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    height: 600px;
    width: 400px;
    background-color: #2d3033;
    border-radius: 8px;
}
#display {
    background-color: aliceblue;
    height: 100px;
    margin: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.top,
.numbersOne,
.numbersTwo,
.numbersThree,
.bottom {
    display: flex;
}
.number {
    height: 88px;
    width: 90px;
    background-color: #d4dde1;
    font-weight: 900;
    font-size: 20px;
    border: 2px solid #2d3033;
  /*  transition: 0.2s;*/
}
.number:hover {
    background-color: white;
    font-size: 25px;
}
.sideButtons {
    height: 88px;
    width: 90px;
}
#clear {
    width: 180px;
}
#backspace {
    width: 90px;
}
#clear,
#backspace {
    background-color: #aa4b41;
    font-weight: 900;
    font-size: 20px;
    border: 2px solid #2d3033;
   /* transition: 0.2s;*/
}
#clear:hover,
#backspace:hover {
    background-color: #a73225;
    font-size: 25px;
} 
#equals {
    width: 180px;
}
.sideButtons,
#equals {
    background-color: #335252;
    color: #aa4b41;
    font-weight: 900;
    font-size: 30px;
    border: 2px solid #2d3033;
   /* transition: 0.2s;*/
}
.sideButtons:hover,
#equals:hover {
    font-size: 40px;
    background-color: #247474
} 







































/* hover for buttons, click effect*/ /*
html, body {
    height: 100%;
    margin: 0;
    background-color: #d4dde1;
}
body {
    display: flex;
    justify-content: center;
}
.container {
    width: 400px;
    display: flex;
    justify-content: center;
  /*  display: flex;
    justify-content: center;*/  /*
}
.calculator {
  /*  display: flex;*/ /*
    width: 400px;
    margin: 70px 0px 70px 0px;
    flex-direction: column;
    align-items: center;
    background-color: #2d3033;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
}
#display {
   /*flex: 1;*/ /*
    background-color: #d4dde1;
    min-height: 30px;
    text-align: center; /*-------------------*/ /*
    border: 2px solid grey;
    display: flex; /* test*/ /*
    justify-content: center;
    align-items: center;
}
.top{
    display: flex;
}
.numbersOne {
    display: flex;
}
.numbersTwo {
    display: flex;
}
.numbersThree {
    display: flex;
}
.bottom {
    display: flex;
    margin-bottom: 8px;
}
.number {
    background-color: #d4dde1;
    flex: 1;
}
.sideButtons,
#equals {
    background-color: #335252;
    color: #aa4b41;
    font-weight: 900;
    font-size: large;
}
.sideButtons {
    flex: 1;
}
#equals { /* change flex basis*/ /*
    flex: 2;
}
#clear,
#backspace {
    background-color: #aa4b41;
}
#backspace {
    flex: 1;
}
#clear {
    flex: 2;
}
.link {

}



/* arrange display and allow for multiple numbers, resize buttons,
don't let them type more than one decimal,
add negative numbers +/-,
add modulo,
 allow for consecutive/running calculations, separate display zones for running,
 add different hover/toggle effects/ button style/border, add link/background,
 try grid
 change font
 add sounds
 shadows
 redo code */


/* display numbers separate from arrays, replace with result after =, 
    find a way to make a = result and skip to bArray,
    string calcs.
*/